<!doctype html>
<html th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">

	<section class="mt-5">
        <div id="overlay"></div>
        <div id="header" class="container text-black text-center">
            <h3 class="display-4 mb-0">STUDENT MANAGEMENT</h3>
            <h1 class="display-1">SYSTEM</h1>
            <p class="lead d-none d-md-block">Use menu above to navigate to protected resources, register and login into account.</p>
        </div>
    </section>
    
</main>
</body>
</html>