<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">

                <div class="form-group col-md-6">
                    <label for="username">Name</label>
                    <input type="text" th:field="*{username}" id="username" placeholder="User Name"
                           th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:errors="*{username}"></div>
                </div>

                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="text" th:field="*{password}" id="password" placeholder="Password"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:errors="*{password}"></div>
                </div>

                <button type="submit" class="btn btn-primary">Update User</button>
            </form>
        </div>
    </div>
</main>


</body>
</html>